body {
  background-color: #DCDCDC;
}
.bg-blanco{
  background-color: #DCDCDC;
}

.bg-bleuco{
  background-color: #74B7FF;
}

.bg-orango{
  background-color: #FFB52D;
}
.centrage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 70%;
  height: 70%;
}

.btn-couleur {
  background-color: #FEAF37;
}

.btn-space {
  margin-top: 10px;
}

.nav-image {
  width: 30px;
  height: 30px;
}

.nav-text {
  text-align: center;
  color: grey;
}

.petite-img{
  width: 100%;
  height: 200px;
}

.pagination p:hover {
  cursor: pointer;
  background-color: #454d55 !important;
}
.bg-jaunefonce {
  background-color: #d39e00;
}
.active {
  background-color: #454d55 !important;
  color: white !important;
}

li p {
  margin: 0;
}

select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}
option {
  text-align: center;
  /* reset to left*/
}

.jeu{
  border-radius:50px;
  overflow: hidden;
  margin-bottom: 2em;
}

.time{
  background-color: white;
  padding: 4px;
 border: 1px solid grey;
 border-radius: 5px;
}



